# JWT Secret Key - Générer avec: openssl rand -hex 32
JWT_SECRET_KEY=eb36532d36a7c825a249d3aaef288a3bbc762660563bb5946ba40150a756af26

# Database (SQLite par défaut)
DATABASE_URL=sqlite:///./data/edt.db
